.wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

html, body{
  padding: 0;
  margin: 0;
  font-family: 'Merriweather', serif;
}
html{
  min-height: 100%;
}
body{
  min-height: 100%;
  border: 3px solid black;
}

section {
  background-size: cover;
  width: 100%;
}

/* Index Page Start */

header {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #cacfd2;
  text-align: center;
}

.emptySection {
  background-color: #cacfd2;
  padding: 3em;
  text-align: center;
}

h1,
h2,
h3,
p,
li {
  font-size: 1.5em;
  color: rgb(12, 74, 4);
}

.buttonList {
  display: flex;
  justify-content: center;
  color: #bdc3c7;
  background-image: url(https://img.itch.zone/aW1hZ2UvMTI1NzQvNDA2MjcuanBn/original/WVb7cS.jpg);
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5em 0; 
}

button {
  padding: 2em;
  margin: 2em;
  cursor: pointer;
  border: none; 
}

button:focus {
  outline:0;
}

#easyButton {
  background-color: green;
}

#mediumButton {
  background-color: yellow;
}

#hardButton {
  background-color: red;
}

form {
  display: flex;
  justify-content: center;
}

input {
  background-color: #bdc3c7;
  color: rgb(12, 74, 4);
}

::-webkit-input-placeholder {
  color: rgb(12, 74, 4);
}

p {
  padding: 0;
}

.message {
  color: red;
}

ul {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0;
  list-style: none;
}

li {
  text-transform: uppercase;
}

/* Index Page END */
/* Game Page Start */

#errorMessage {
  list-style: square;
}

.wordGuess {
  font-size: 1.75em;
  margin: 1em;
}

.wordGuessList {
  margin: 0;
}

.addLetter {
  padding: 1.5em;
}

input {
  border: 3px solid #555;
  height: 3em;
  width: 10em;
  text-align: center;
  font-size: 1.2em;
}

input:focus {
  outline: 0;
}

::-webkit-input-placeholder {
  text-align: center;
}

.guessInput {
  background-color: #DEB57E;
  margin: 0;
  padding: 0;
}

.returnButton {
  margin: 0;
}

/* Game PAge END */

